<div class="col-4">
    <div class="card mt-5">
        <div class="card-header">Flight Search</div>
        <div class="card-body">
            <div class="form my-2">

                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off"
                    checked>
                <label class="btn btn-outline-success me-3" for="success-outlined">One Way</label>

                <input type="radio" class="btn-check" name="options-outlined" id="primary-outlined" autocomplete="off">
                <label class="btn btn-outline-primary" for="primary-outlined">Round Trip</label>
                <div class="row mt-4">
                    <div class="col">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>From</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>To</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <label for="departure-date" class="form-label">Departure Date</label>
                            <input type="date" class="form-control" id="departure-date" aria-describedby="emailHelp">
                        </div>
                        <div class="col">
                            <label for="departure-date" class="form-label">Return Date</label>
                            <input type="date" class="form-control" id="departure-date" aria-describedby="emailHelp">
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <label for="passengers" class="form-label">Passengers</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>