<div class="home-bg">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Skyway Airlines</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mybookings">Mybookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/myprofile">My Profile</a>
      </li>
      
    </ul>
    <form class="d-flex" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">
            <button (click)="logIn()" *ngIf="isUser == false" class="btn btn-sm btn-primary">Login / Sign Up</button>
            <button (click)="logOut()" *ngIf="isUser == true" class="btn btn-sm btn-primary">Log Out</button>
          </a>
        </li>
      </ul>
    </form>
  </div>
</div>
</nav>
<router-outlet></router-outlet>
<!-- <footer class="mt-auto">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Skyway Airlines</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</footer> -->
</div>