<div class="container">

    <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="card mt-5">
            <h4 class="card-header">Booking History</h4>
            <div class="card-body overflow-auto" style="max-height: 70vh;">
                <div *ngFor="let t of tickets" class="card my-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center my-3">
                            <h5 class="card-title">Flight Number : {{t.FlightNumber}}</h5>
                            <h6 class="card-title">Date of Issue : {{t.DateOfIssue.slice(0,10).split("-").reverse().join("-")   }}</h6>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <h6>Ticket Number : <span class="text-muted">{{t.TicketId}}</span></h6>
                                
                            </div>
                            <div class="col">
                                <h6>Ticket Status : <span class="text-muted">{{t.TicketStatus}}</span></h6>
                               
                            </div>

                            
                        </div>
                        <div class="row text-center mt-2">
                            <div class="col">
                                <button *ngIf="t.TicketStatus!==&#34;Cancelled&#34;" (click)="onCancelTicket(t.TicketId)" type="button" class="btn btn-sm btn-danger">Cancel Booking</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>