<form  class="my-3">
    <div>
      <label for="username" class="form-label">username</label>
      <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="admin username" required>
    </div>
    <div class="mb-3">
      <label for="adminpassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="adminpassword" placeholder="admin password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
