<form #userSignUpForm="ngForm" (ngSubmit)="userSignUp(userSignUpData)" class="my-3">
  <h5 class="mb-3">Create a Account</h5>
  <div class="row">
    <div class="col-4">
      <label for="passengers" class="form-label">Title</label>
      <select class="form-select" aria-label="Default select example">
        <option selected value="1">Mr.</option>
        <option value="2">Mrs.</option>
        <option value="3">Ms.</option>
      </select>
    </div>
    <div class="col-8">
      <label for="fname" class="form-label" >First Name</label>
      <input [(ngModel)]="userSignUpData.firstName" name="firstName" #firstName="ngModel" type="text" class="form-control" id="fname" placeholder="Your first name" required>
    </div>
  </div>
  


  <div class="my-3">
    <label for="lname" class="form-label">Last Name</label>
    <input [(ngModel)]="userSignUpData.lastName" name="lastName" #lastName="ngModel" type="text" class="form-control" id="lname" placeholder="Your last name" required>
  </div>

  <div class="row my-3">
    <div class="col">
      <label for="dob" class="form-label">Date of Birth</label>
      <input [(ngModel)]="userSignUpData.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" type="date" class="form-control" id="dob" required>
    </div>
    <div class="col">
      <label for="phone" class="form-label">Phone number</label>
      <input [(ngModel)]="userSignUpData.mobile" name="mobile" #mobile="ngModel" type="tel" id="phone" name="phone" placeholder="Your number" pattern="[0-9]{10}" required
        class="form-control" id="phone">
    </div>
  </div>

  <div class="my-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input [(ngModel)]="userSignUpData.emailId" name="emailId" #emailId="ngModel" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email-id" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="userpassword" class="form-label">Password</label>
    <input [(ngModel)]="userSignUpData.UserPwd" name="UserPwd" #UserPwd="ngModel" type="password" class="form-control" id="userpassword" placeholder="Your password" required>
  </div>
  <div class="mb-3">
    <label  for="userconfirmpassword" class="form-label">Confirm Password</label>
    <input [(ngModel)]="cpassword" name="cpassword" type="password" class="form-control" id="userconfirmpassword" placeholder="Repeat Password" required>
  </div>
  <button type="submit" class="btn btn-success">Register</button>
</form>