<div class="card p-4 mt-3 col-6">
    
    <h5 class="mb-3">Cancel a flight</h5>
    <div class="form my-2">
        <div class="row mt-4">
            <div class="col-6">
                <label for="flight-num" class="form-label">Flight Number</label>
                <input type="text" class="form-control" id="flight-num" aria-describedby="emailHelp" placeholder="Enter Flight Number">
              </div>
        </div>
        <div class="text-left mt-4">
            <button type="button" class="btn btn-primary">Cancel</button>
        </div>
    </div>
</div>