<div class="card p-4 mt-3">
    
    <h5 class="mb-3">Cancel a flight</h5>
    <form #flightDeleteForm="ngForm" (ngSubmit)="deleteFlight(FlightDeleteData)" class="form my-2">
        <div class="row mt-4">
            <div class="col-6">
                <label for="flight-num" class="form-label">Flight Number</label>
                <input [(ngModel)]="FlightDeleteData.flightnumber" name="flightnumber" #flightnumber="ngModel" type="text" class="form-control" id="flight-num" placeholder="Enter Flight Number">
              </div>
        </div>
        <div class="text-left mt-4">
            <button type="submit" class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>